/* General Setup */
:root {
  --board-size: min(85vw, 500px);
  --cell-size: calc(var(--board-size) / 10);
  --primary-bg: #1a2a33;
  --secondary-bg: #1f3641;
  --highlight-green: rgba(0, 255, 128, 0.2);
  --highlight-red: rgba(220, 20, 60, 0.3);
  --highlight-gray: rgba(128, 128, 128, 0.25);
  --text-color: #f2b137;
  --accent-color: #31c3bd;
  --shadow-color: #10212a;
  --shadow: 6px 6px 0 var(--shadow-color);
  --button-shadow: 4px 4px 0 var(--shadow-color);
  --button-shadow-active: 2px 2px 0 var(--shadow-color);
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 1.5;
  font-family: "Tiny5", sans-serif;
}

html,
body {
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Opera) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--primary-bg);
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  overflow-x: hidden;
  gap: 16px;
}

header {
  display: relative;
  width: 100%;
  padding: 8px;
  text-align: center;
  color: var(--text-color);
  background-color: var(--secondary-bg);
  box-shadow: var(--shadow);

  h1 {
    font-size: 4rem;
  }

  a {
    position: absolute;
    padding: 20px;
    right: 0px;
    top: 0px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

main.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 8px;
}

/* Info and Menu Screens */
.info,
.menu {
  background-color: var(--secondary-bg);
  padding: 16px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  box-shadow: var(--shadow);
}

.info {
  h2 {
    color: var(--text-color);
    font-size: 2.4rem;
  }

  p {
    font-size: 1.8rem;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 16px;
  input {
    width: 60%;
    padding: 8px;
    margin-bottom: 8px;

    box-shadow: var(--shadow);
    font-size: 1.8rem;
    border: none;
    background-color: var(--primary-bg);
    color: white;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }
}

/* Button styling */
button {
  font-size: 1.8rem;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color,
    transform 0.2s;
  box-shadow: var(--button-shadow);
  background-color: var(--accent-color);
  color: var(--primary-bg);

  &.play,
  &.new-game {
    background-color: var(--text-color);
    color: var(--primary-bg);
  }

  &:disabled {
    background-color: #555;
    cursor: not-allowed;
    box-shadow: 0 4px 0 #333;
  }

  &:hover:not(:disabled) {
    transform: translate(-2px, -2px);
    box-shadow: var(--shadow);
  }

  &:active:not(:disabled) {
    transform: translate(2px, 2px);
    box-shadow: var(--button-shadow-active);
  }
}

/* Game Screen */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px 40px;
  background-color: var(--secondary-bg);
  box-shadow: var(--shadow);

  .game-board {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    flex-wrap: wrap;
    .left,
    .right {
      text-align: center;

      .name {
        font-size: 2rem;
        margin-bottom: 8px;
        color: var(--text-color);
      }
    }
  }
}

.hidden {
  display: none !important;
}

/* Board and Cell Styling */
.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: var(--board-size);
  height: var(--board-size);
  box-shadow: var(--shadow);
  cursor: crosshair;

  &.disabled {
    cursor: not-allowed;
  }

  /* cell */
  .cell {
    border: 1px solid rgba(49, 195, 189, 0.2);
    position: relative;
    background-image: url("../assets/WaterTileOcean.gif");
    background-size: cover;

    &:hover::after,
    /* cell after */
    &.miss::after,
    &.hit::after,
    &.sunk::after,
    &.can-place::after,
    &.cannot-place::after,
    &.ship::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: var(--cell-size);
      height: var(--cell-size);
      backdrop-filter: blur(5px);
    }

    &.can-place::after {
      background-color: var(--highlight-green);
    }

    &.cannot-place::after {
      background-color: var(--highlight-red);
    }

    &.ship::after {
      background-color: var(--highlight-gray);
    }

    &.miss::after {
      background: url(../assets/splash.gif) no-repeat center center/cover;
    }

    &.hit::after {
      background: url(../assets/smoke.gif) no-repeat center center/cover;
    }

    &.sunk::after {
      background: url(../assets/explosion.gif) no-repeat center center/cover;
    }
  }
}

@media (max-width: 600px) {
  .game {
    padding: 20px 0px;
  }
}
